.nav-container{
  position: fixed;
  height: 5vh;
  top:0;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
  padding: 10px;
}
.nav-logo{
  color:yellow;
  padding-left: 70px;
  margin-left: 50px;
  width: 500px;
  font-size: 34px;
}
.nav-options{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
  width: 900px;
  font-size:20px;
}

.background-img{
  background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:600px;
  
}
.background-welcome-studio {
  font-size: 25px;
  color: yellow;
}
.background-welcome {
  font-size: 30px;
   color: yellow;
}

.whitespace-service-container{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.services{
  width: 2vw;
}
.tell-more-button{
  background-color: yellow;
  width: 100px;
  height: 40px;
  border-radius: 6px;
}



@media screen and (max-width: 700px) {
	.nav-container {
   position: static;
  }
  .nav{
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
  }
  .tell-more-button{
    font-size:5pt;
    width: 80px;
  }
  .background-welcome-studio {
    font-size: 12.5px;
  }
  .background-welcome {
    font-size: 15px;
  }
  .nav-logo {
    font-size: 14px;
  }
  .menu-btn-content{
    
    display: flex;
    background-color: yellow;
    width: 80px;
    height: 40px;
    flex-direction: row;
    border-radius: 6px;
  }
  .menu{
   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    
  }
  
}



@media screen and (min-width: 992px){
  .fas{
    text-indent: -1000%;
    display:none;
  }
  .fa-bar{
    text-indent: -1000%;
    display:none;
  }
  .fa-bar {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    display:none;
    position: absolute;
    background-color: rgba(38, 0, 255, 0);
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
  }

  .menu-btn-content{
    display: none;
  }

}


